*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #ebfef6 !important; 
    color: #4e0101;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000829; 
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link{
    color: #38af7e !important; 
    font-weight: bold;
    transition: color 0.3s;
}

.logo{
    width: 3rem;
    border-radius: 50%;
}

.navbar-dark .nav-link:hover {
    color: #38af7e !important; 
}

.cart-icon i {
    color: #049c5d; 
    font-size: 20px;
    transition: color 0.3s;
}

.cart-icon i:hover {
    color: #38af7e;
}



.container .containerItems {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}


.container .containerItems .product-item {
    background-color: #fff; 
    color: #000000; 
    border: 1px solid #1f304c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .containerItems .product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.container .containerItems .product-item .img-product {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 200px;
    object-fit: cover;
}


.container .containerItems .product-item .title-product {
    font-size: 18px;
    font-weight: bold;
    color: #000829; 
    margin-bottom: 8px;
    text-transform: uppercase;
}


.container .containerItems .product-item .price-product {
    font-size: 22px;
    font-weight: bold;
    color: #1f304c; 
    margin: 10px 0;
}


.container .containerItems .product-item .description-product {
    font-size: 14px;
    color: #676868; 
    margin-bottom: 10px;
    line-height: 1.5;
}


.container .containerItems .product-item .button-product {
    background-color: #176343; 
    color: #ffffff; 
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.container .containerItems .product-item .button-product:hover {
    background-color: #000829; /* Cambia a verde oscuro en hover */
    color: #fff;
    transform: scale(1.05);
}


.dropdown-menu  {
 position: absolute !important;
 top: 3.7rem;
 right:10%;
 color: rgb(0, 0, 0) !important;
}
.dropdown-menu h5  {

 color: #176343 !important;
}

.mt-2 button{
    margin: 2px 0 !important;
}

/* Footer */
.footer {
    color: #fff; 
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo h2 {
    color: #007041; 
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo p {
    color: #ecf0f1; 
    font-size: 14px;
}

.footer-links h3, .footer-contact h3, .footer-social h3 {
    color: #049c5d; 
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s;
}



.footer-contact p {
    color: #ecf0f1; 
    font-size: 14px;
    margin: 8px 0;
}

.footer-social .social-icons a {
    color: #fff; 
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-social .social-icons a:hover {
    color: #73e7b7; 
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #7f8c8d;
    color: #ecf0f1; /* Gris claro */
    margin-top: 20px;
}



/* Estilos generales para el carrito */
.cart-icon {
    position: relative;
}

#cartContainer {
    min-width: 300px;
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid #eee; 
}

.cart-item:last-child {
    border-bottom: none; 
}

.cart-item span {
    margin-right: 10px; 
}

.remove-button {
    background-color: transparent; 
    border: none; 
    color: #d9534f; 
    cursor: pointer; 
}

.remove-button:hover {
    text-decoration: underline; 
}

#cartTotal {
    font-weight: bold; 
    margin-top: 10px; 
}

.btn-success {
    background-color: #28a745; 
    border: none; 
}

.btn-success:hover {
    background-color: #218838; 
}


@media (max-width: 768px) {
    #cartContainer {
        min-width: 100%; 
    }
}
